body{
    background-image: linear-gradient(135deg, #000000,#03070B,#20517B,#409FF2);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    position: relative;
    color:cyan;
    background-image: url(./images/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;
}  

.quote{
  font-size: 65%;
}

input{
    height: 10%;
    width: 50%;
    font-size: 50%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
}

.input1{
    font-size: 20px;


    background-image: url(./Images/Rectangle\ 16.svg);
    background-size: cover;
    background-position: center;
    padding: 3%;
    border-radius: 20px;
    margin: 3%;

   } 



button{
    width: 110px;
    height: 30px;
    border-radius: 10px;
} 
.btn-1{
  background-color: chartreuse;
  color: blue;
} 
.btn-dark{
  background-color: chartreuse;
  color: blue;
}
.otp-input{
  justify-content: center;
  align-items: center;
  font-size: 90%;
} 

.verify{
  background-color: chartreuse;
  color: blue;
}
.Next{
    float: right;
    margin-right: 6%;
    color: blue;
    background-color: aqua;
} 

.container {
    position: relative;
    width: 250px; /* adjust the width to your needs */
    height: 150px; /* adjust the height to your needs */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 250%;
    height: 200%;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .foreground-image {
    position: absolute;
    top: 155%; /* adjust the top position to your needs */
    left: 35%; /* adjust the left position to your needs */
    transform: translate(-50%, -50%);
    width: 75%; /* adjust the width to your needs */
    height: 75%; /* adjust the height to your needs */
    object-fit: cover;
    border-radius: 50%; /* optional, for a circular image */
  }

  .upload-icon{
    position: absolute;
    top: 150%; /* adjust the top position to your needs */
    left: 120%; /* adjust the left position to your needs */
    transform: translate(-50%, -50%);
    width: 25%; /* adjust the width to your needs */
    height: 35%; /* adjust the height to your needs */
    object-fit: cover;
    border-radius: 50%; /* optional, for a circular image */
  }
  .dob{
    position: absolute;
    top: 30%;
    right: 10%;
    float: right;
    height: 25%;
    width: 50%;
  }
