
body {
    background-image: linear-gradient(135deg, #000000, #03070B, #20517B, #409FF2);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    margin: 0;
   
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    position: relative;
    color:cyan;
    background-image: url(./images/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;
}  

.quote{
  font-size: 65%;
}

input{
    height: 10%;
    width: 50%;
    font-size: 50%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
}

.input1{
    font-size: 20px;


    background-image: url(./Images/Rectangle\ 16.svg);
    background-size: cover;
    background-position: center;
    padding: 3%;
    border-radius: 20px;
    margin: 3%;

   } 



button{
    width: 110px;
    height: 30px;
    border-radius: 10px;
} 
.btn-1{
  background-color: chartreuse;
  color: blue;
}
.btn-2{
  background-color: aqua;
  color: blue;
}
.btn-dark{
  background-color: chartreuse;
  color: blue;
}
.otp-input{
  justify-content: center;
  align-items: center;
  font-size: 90%;
} 

.verify{
  background-color: chartreuse;
  color: blue;
}
.Next{
    float: right;
    margin-right: 6%;
    color: blue;
    background-color: aqua;
} 

.container{
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
}
.profile-img{
  position: relative;
  width:15%;
  height:15%;
  object-fit: cover;
  border-radius: 100%;
}
.bg-img{
  position: relative;
  left:20%;
  width:15%;
  height:15%;
  object-fit:fill; 
 }

 .upload-icon{
  position: absolute;
  left:44%;
  top: 75%;
  width:15%;
  height:20%;
  object-fit:fill; 
 }
.gender-select {
  position: relative;
  width: 200px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

#gender-options {
  width: 40%;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

#gender-options option {
  padding: 10px;
}

.phone{
  width: 30%;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0; 
} 


.Bio{
  width: 70%;
  height: 200%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
} 

.dob{
  width: 20%;
  height: 15%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}
