body{
    background-image: linear-gradient(135deg, #000000,#03070B,#20517B,#409FF2);
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    position: relative;
    color:cyan;
    background-image: url(./images/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 0px;
}

input{
    height: 50px;
    width: 500px;
    font-size: 28px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
}

.input1{
    font-size: 20px;


    background-image: url(./Images/Rectangle\ 16.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;

   }
button{
    width: 110px;
    height: 35px;
    border-radius: 10px;
} 

.Next{
    float: right;
    margin-right: 6%;
}