
body {
    background-image: linear-gradient(135deg, #000000, #03070B, #20517B, #409FF2);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    margin: 0;
   
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    position: relative;
    color:cyan;
    background-image: url(./images/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;
}  

.quote{
  font-size: 65%;
}

input{
    height: 10%;
    width: 50%;
    font-size: 50%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
}

.input1{
    font-size: 20px;


    background-image: url(./Images/Rectangle\ 16.svg);
    background-size: cover;
    background-position: center;
    padding: 3%;
    border-radius: 20px;
    margin: 3%;

   } 



button{
    width: 110px;
    height: 30px;
    border-radius: 10px;
} 
.btn-1{
  background-color: chartreuse;
  color: blue;
}
.btn-2{
  background-color: aqua;
  color: blue;
}
.btn-dark{
  background-color: chartreuse;
  color: blue;
}
.otp-input{
  justify-content: center;
  align-items: center;
  font-size: 90%;
} 

.verify{
  background-color: chartreuse;
  color: blue;
}
.Next{
    float: right;
    margin-right: 6%;
    color: blue;
    background-color: aqua;
} 

.container {
    position: relative;
    width: 250px; 
    height: 150px; /* adjust the height to your needs */
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 150%;
    height: 130%;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .foreground-image {
    position: relative;
    top: -25%; /* adjust the top position to your needs */
    left: 20%; /* adjust the left position to your needs */
    transform: translate(-50%, -50%);
    width: 40%; /* adjust the width to your needs */
    height: 60%; /* adjust the height to your needs */
    object-fit: cover;
    border-radius: 50%; /* optional, for a circular image */
  }

  .upload-icon{
    position: relative;
    top: 115%; /* adjust the top position to your needs */
    left: 140%; /* adjust the left position to your needs */
    transform: translate(-50%, -50%);
    width: 20%; /* adjust the width to your needs */
    height: 30%; /* adjust the height to your needs */
    object-fit: cover;
    border-radius: 50%; /* optional, for a circular image */
  }
  .dob{
    position: absolute;
    top: 30%;
    left: 45%;
    height: 25%;
    width: 50%;
  }
.dateof{
  position: absolute;
  top: 34%; /* Moves the element 50% down the container */
  left: 68%; 
}