
body {
    background-image: linear-gradient(135deg, #000000, #03070B, #20517B, #409FF2);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    margin: 0;
   
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    position: relative;
    color:cyan;
    background-image: url(./images/background/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 25px;
}  
.pr2{
  margin-left: 3%;
}
.quote{
  font-size: 65%;
}

.content{
  display: flex;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.264);
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px; 
  align-items:center; 
  flex-direction: column;
  justify-content: space-between; 
  
   
}

input{
  color:white;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #ffffff;
  height: 40px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.268);
  text-align: center;
}

input::placeholder {
  color: whitesmoke;
  font-weight: bold; 
}



button{
  position: relative;
  
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: hsl(0, 0%, 0%);
  height: 40px ;
  width:150%;

  justify-content: center;
  align-items: center;
}

#forgot{
  text-decoration: none;
  color: crimson;
  position: relative;
  left:0%
}

#bt1{
  background-color: chartreuse;
  color: black;
  font-weight: bolder;
  right: 25%;
}

#bt1:hover{
  background-color: rgba(127, 255, 0,0.5);
}

#bt2{
  background-color: #409FF2;
  color: #ffffff;
  font-weight: bolder;
  right: 25%;
}
/* 2nd page */
#batch{
  width: 40%;
}

.btn-dark{
  background-color: chartreuse;
  color: blue;
  right: 25%;
}
.btn-dark:hover{
  background-color: rgba(127, 255, 0,0.5);
}
/* 3rd page */
.otp-input{
  justify-content: center;
  align-items: center;
  text-size-adjust: 30%;
} 

.verify{
  background-color: chartreuse;
  color: blue;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 25px;
}
.verify:hover{
  background-color: rgba(127, 255, 0,0.5);
}
.Next{
    position: absolute;
    width: 100px;
    right: 0%;
    color: blue;
    background-color: aqua;
    right:15%;
  height: 40px;
} 
.Next:hover{
  background-color:rgb(5, 158, 153);
}
/* 4th page */

.container{
  position: relative;
  width: 100%;
  height: 40%;
  display: flex; 
  
}
.profile-img{
  position: relative;
  left: 10%;
  top:15%;
  width: 150px;
  height:150px;
  object-fit: cover;
  border-radius: 50px;
}
.bg-img{
  position: relative;
  left:20%;
  width:40%;
  height:150px;
  object-fit:cover; 
  border-radius: 25px;
 }

 
  
.gender-select {
  position: relative;
  width: 200px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

#gender-options {
  width: 40%;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

#gender-options option {
  padding: 10px;
}

.phone{
  width: 30%;
  height: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0; 
} 


.Bio{
  width: 70%;
  height: 200%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
} 

.dob{
  width: 20%;
  height: 15%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}  

#image-upload {
  display: none;
}

label {
  cursor: pointer;
  
}

#upload-button1{
  position: relative;
  right:600%;
  top:65%;
  background-color: aqua;
  border-radius: 40%;
}
#upload-button2{
  position: relative;
  right:50%;
  top:65%;
  background-color: aqua;
  border-radius: 40%;
 }

.input2{
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0.264);
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px; 
  background-position: center;
  padding: 3%;
  border-radius: 20px;
  margin: 10%;
  margin-top: 2%;
 } 

 .cont1{
  margin-top: 5%;
 }